<div class="content">
    <div class="card">
        <img class="card-image" src="../../assets/images/jotaro.png">
        <div class="information">
            <p class="card-name">Name: Jotaro Kujo</p>
            <p class="card-gender">Gender: Male</p>
            <p class="card-haircolor">Hair Color: Black</p>
            <p class="card-eyecolor">Eye Color: Slightly Green</p>
            <p class="card-timeline">Stardust Crusaders</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="../../assets/images/jotaro.png">
        <div class="information">
            <p class="card-name">Name: Jotaro Kujo</p>
            <p class="card-gender">Gender: Male</p>
            <p class="card-haircolor">Hair Color: Black</p>
            <p class="card-eyecolor">Eye Color: Slightly Green</p>
            <p class="card-timeline">Stardust Crusaders</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="../../assets/images/jotaro.png">
        <div class="information">
            <p class="card-name">Name: Jotaro Kujo</p>
            <p class="card-gender">Gender: Male</p>
            <p class="card-haircolor">Hair Color: Black</p>
            <p class="card-eyecolor">Eye Color: Slightly Green</p>
            <p class="card-timeline">Stardust Crusaders</p>
        </div>
    </div>
</div>