*{
    margin: 0;
}

.information-card{
    position: relative;
    top: 85px;
    height: 450px;
    width: 400px;
    background-color: rgba(13,27,41,0.9);
}

.abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ability {
    margin: auto;
}

.image {
    margin-top: 25px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 75px;
}

.ability-image {
    padding: 25px;
    width: 100px;
}

.ability-name {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
}